table {
  width: 50%;
  margin-top: 5%;
  margin-right: 25%;
  margin-left: 25%
}

tr#first-row {
  background-color: #3265cd;
}

td {
  padding: 2px;
  height: 45px;
  width: 33%;
  border: 1px solid black;
}

input {
  height: 98%;
  width: 98%;
}
